$material-snackbar-toast-height: 40px;
$material-snackbar-toast-color: #25313b;
$material-snackbar-toast-text-color: #fff;
$material-snackbar-toast-offset: 15px;
$material-snackbar-toast-width: 320px;
// Prefixer
@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

material-snackbar {
  display:block;
  position: fixed;
  bottom: 10%;
  right: 7%;
  z-index: 1001;
  .toast {
    @include vendor-prefix(border-radius,3px);
    top: 0;
    width: auto;
    clear: both;
    margin-top: 10px;
    position: relative;
   // max-width: $material-snackbar-toast-width;
   // min-width: $material-snackbar-toast-width;
    height: $material-snackbar-toast-height;
    line-height: $material-snackbar-toast-height;
    background-color: $material-snackbar-toast-color;
    padding: 0 25px;
    font-size: 1.1rem;
    font-weight: 300;
    //text-align: center;
    color: $material-snackbar-toast-text-color;
    z-index: 1001;
    @include vendor-prefix(box-shadow,'0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)');
    // Flex
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    // Align
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    //
    @include vendor-prefix(justify-content,space-between);
    // Animation
    transform:translateY(0px);
    opacity: 1;
    @include vendor-prefix(transition,'transform .2s ease-in,opacity .2s');
    &.opening {
      transform:translateY(-$material-snackbar-toast-offset);
      opacity: 0;
      @include vendor-prefix(transition,'transform .2s cubic-bezier(0.23, 1, 0.32, 1),opacity .2s');
    }
    // Colors
    &.error {
      background-color: #ab173e;
    }
  }
}