// Variables for quick styling
$material-chekbox-border-color: #25313b;
$material-chekbox-disabled-border-color: #ccc;
$material-chekbox-checkmark-color: #fff;
$material-chekbox-checkmark-background-color: #25313b;
$material-chekbox-label-color: #25313b;
$material-chekbox-disabled-label-color: #ccc;
// Prefixer
@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

material-checkbox {
  background-color: transparent;
  display: block;
  position: relative;
  @include vendor-prefix(transform,translateZ(0));
  /** CheckBox **/
  .checkbox {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    height: 100%;
    border: solid 2px;
    border-color: $material-chekbox-border-color;
    background-color: transparent;
    border-radius: 2px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    vertical-align: middle;
    @include vendor-prefix(transition,'background-color 140ms, border-color 140ms');
    .checkmark {
      @include vendor-prefix(transform,"rotate(0deg) scale(0.5)");
      position: absolute;
      top: -1px;
      left: 3px;
      width: 6px;
      height: 10px;
      border-style: solid;
      border-top: none;
      border-left: none;
      border-right-width: 2px;
      border-bottom-width: 2px;
      border-color: transparent;
      cursor: pointer;
    }
    // States
    &.checked {
      background-color: $material-chekbox-border-color;
      @include vendor-prefix(transition,'background-color 140ms, border-color 140ms, transform 140ms 50ms cubic-bezier(0.23, 1, 0.32, 1)');
      .checkmark {
        border-color: $material-chekbox-checkmark-color;
        @include vendor-prefix(transform,"rotate(45deg) scale(1)");
        @include vendor-prefix(transition,'background-color 140ms, border-color 140ms,transform 140ms 50ms cubic-bezier(0.23, 1, 0.32, 1)');
      }
    }
  }
  /** Label **/
  .label {
    display: inline-block;
    color: $material-chekbox-label-color;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-left: 8px;
    white-space: normal;
    cursor: pointer;
  }
  /** Disabled **/
  &[disabled="true"] {
    .checkbox {
      border-color: $material-chekbox-disabled-border-color;
    }
    .label{
      color: $material-chekbox-disabled-label-color;
    }
  }
}