$material-dropdown-background: #fff;
$material-dropdown-min-width: 100px;
$material-dropdown-max-height: 650px;
$material-dropdown-color: #25313b;
$material-dropdown-offset: 50px;

// Prefixer
@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

material-dropdown {
  position: absolute;
  z-index: 100;
  width: 100%;
  .dropdown {
    background-color: $material-dropdown-background;
    margin: 0;
    min-width: $material-dropdown-min-width;
    max-height: $material-dropdown-max-height;
    overflow-y: auto;
    will-change: width, height;
    @include vendor-prefix(box-shadow,'0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)');
    // Animation
    transform:translateY(0px);
    opacity: 1;
    @include vendor-prefix(transition,'transform .2s ease-in,opacity .2s');
    /** OPENING **/
    &.opening {
      &.top {
        transform:translateY(-$material-dropdown-offset);
        opacity: 0;
        @include vendor-prefix(transition,'transform .2s cubic-bezier(0.23, 1, 0.32, 1),opacity .2s');
      }
      &.bottom {
        transform:translateY($material-dropdown-offset);
        opacity: 0;
        @include vendor-prefix(transition,'transform .2s cubic-bezier(0.23, 1, 0.32, 1),opacity .2s');
      }
    }
  }
}